.content-list-type1 {
  display: grid;
  gap: 6rem;
  @media (width < 768px) {
    gap: 3.6rem;
  }
  li {
    display: grid;
    gap: 2.4rem;
    @media (width < 1024px) {
      gap: 1.6rem;
    }
    @media (width < 768px) {
      gap: 1.2rem;
    }
  }
  strong {
    color: var(--gray900);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 150%;
    @media (width < 1024px) {
      font-size: 2.4rem;
    }
    @media (width < 768px) {
      font-size: 2rem;
    }
  }
  div {
    color: var(--gray600);
    font-size: 2rem;
    font-weight: 500;
    line-height: 160%;
  }
}
