.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  @media (width < 1024px) {
    padding-block: 1.6rem;
    padding-inline: 3rem;
  }
  @media (width < 768px) {
    padding-block: 1.2rem;
    padding-inline: 2rem;
  }
  .right {
    display: flex;
    gap: 2.4rem;
  }
}
