.hero-type1 {
  padding-block: 12.9rem 4.8rem;
  @media (width < 1024px) {
    padding-block: 12.9rem 3.6rem;
  }
  @media (width < 768px) {
    padding-block: 22rem 2.4rem;
  }
  h2 {
    display: grid;
    color: var(--gray900);
    font-weight: 700;
    letter-spacing: -0.144rem;
  }
  [lang='ko'] {
    line-height: 160%;
    font-size: 4.8rem;
    @media (width < 1024px) {
      font-size: 3.6rem;
    }
    @media (width < 768px) {
      font-size: 2.4rem;
    }
  }
  [lang='en'] {
    font-size: 9.6rem;
    line-height: 100%;
    font-family: var(--georgia);
    @media (width < 1024px) {
      font-size: 7.2rem;
    }
    @media (width < 768px) {
      font-size: 4.6rem;
    }
  }
}

.hero-type2 {
  padding-block: 4.8rem;
  color: var(--gray900);
  font-family: var(--notoserif);
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: -0.144rem;
  text-align: center;
  border-top: 0.1rem dashed var(--black20);
  border-bottom: 0.1rem dashed var(--black20);
  @media (width < 1024px) {
    padding-block: 3.6rem;
    font-size: 2.4rem;
    letter-spacing: -0.096rem;
  }
  @media (width < 768px) {
    padding-block: 2.4rem;
    font-size: 2rem;
    letter-spacing: -0.08rem;
  }
}

.hero-type3 {
  blockquote {
    padding-block: 4.8rem;
    color: var(--gray900);
    font-family: var(--notoserif);
    font-size: 2rem;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: -0.08rem;
    border-top: 0.1rem dashed var(--black20);
    border-bottom: 0.1rem dashed var(--black20);
    text-align: justify;
    @media (width < 1024px) {
      padding-block: 3.6rem;
      font-size: 2.4rem;
      letter-spacing: -0.096rem;
    }
    @media (width < 768px) {
      padding-block: 2.4rem;
      font-size: 2rem;
      letter-spacing: -0.08rem;
    }
  }
}
