.container {
  width: 100%;
  max-width: var(--containerWidth);
  margin-inline: auto;
  @media (width < 1024px) {
    box-sizing: border-box;
    padding-inline: 3rem;
  }
  @media (width < 768px) {
    padding-inline: 2rem;
  }
}

[class*='column-'] {
  display: grid;
  gap: var(--gap);
  grid-template-columns: var(--column);
}
.column-2 {
  --column: repeat(2, 1fr);
  --gap: 6rem;
  @media (width < 768px) {
    --column: 1fr;
    --gap: 3.6rem;
  }
}
