.container {
  width: 100%;
  max-width: var(--containerWidth);
  margin-inline: auto;
  @media (width < 1024px) {
    box-sizing: border-box;
    padding-inline: 3rem;
  }
  @media (width < 768px) {
    padding-inline: 2rem;
  }
}

[class*='column-'] {
  display: grid;
  gap: var(--gap);
  grid-template-columns: var(--column);
}
.column-2 {
  --column: repeat(2, 1fr);
  --gap: 6rem;
  @media (width < 768px) {
    --column: 1fr;
    --gap: 3.6rem;
  }
}
.column-3 {
  --column: min-content min-content 1fr;
  --gap: 6rem;
  img {
    width: 100%;
    &:nth-of-type(1) {
      width: 100%;
      min-width: var(--width1, 33rem);
    }
    &:nth-of-type(2) {
      width: 100%;
      min-width: var(--width2, 18rem);
    }
  }
  @media (width < 1024px) {
    --column: 2fr 1fr;
    --width1: 100%;
    --width2: 100%;
    :last-child {
      grid-column: span 2;
    }
  }
  @media (width < 768px) {
    --gap: 3.6rem;
  }
}
