body:has(.search:popover-open) {
  .gnb,
  .right > .ico-search,
  .right > .ico-menu {
    opacity: 0;
  }
}
.search {
  background-color: var(--black60);
  inset: auto;
  right: 0;
  top: 0;
  width: 50%;
  height: 9.8rem;
  @media (width < 768px) {
    width: 100%;
    background-color: var(--black);
    height: 7.3rem;
  }
  .search-inner {
    display: grid;
    padding-inline: 2rem 0.8rem;
    align-items: center;
    grid-template-columns: 1fr min-content min-content;
    height: 100%;
  }
  button {
    --size: 4.8rem;
    background-size: 2.4rem;
  }
  input {
    background-color: transparent;
    height: 100%;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.04em;
    color: var(--white);
    &::placeholder {
      color: inherit;
    }
  }
}
.search-result {
  padding-block: 6rem;
  border-top: 1px solid var(--gray900);
  @media (width < 1024px) {
    padding-block: 6rem;
  }
  @media (width < 768px) {
    padding-block: 3.6rem;
  }
}
.search-form {
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: var(--gray100);
  border: 1px solid var(--black10);
  padding: 2.4rem;
  align-items: center;
  @media (width < 1024px) {
    padding: 1.6rem;
  }
  @media (width < 768px) {
    padding: 1.2rem;
  }
  input {
    background-color: transparent;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 150%;
    color: var(--gray600);
    outline: none;
    @media (width < 1024px) {
      font-size: 2rem;
    }
  }
}

.search-result-none {
  padding-block: 24rem;
  border-top: 1px solid var(--black10);
  border-bottom: 1px solid var(--black10);
  font-weight: 500;
  font-size: 2rem;
  line-height: 160%;
  text-align: center;
}
