@layer swiper, reset, print, atom, molecules, organisms, template, page, utillity;

/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/georgia');

@import url(./swiper.css) layer(swiper);

/* 기초정의 */
@import url(./reset.css) layer(reset);
@import url(./print.css) layer(print);
@import url(./debug.css);

/* 원자 */
@import url(./variable.css) layer(atom.variable);
@import url(./align.css) layer(utillity.align);
@import url(./spacing.css) layer(utillity.spacing);
@import url(./rounded.css) layer(utillity.rounded);
@import url(./icons.css) layer(atom.icons);
@import url(./typography.css) layer(atom.typography);
@import url(./layout.css) layer(atom.layout);

/* 분자 */
@import url(./button.css) layer(atom.button);
@import url(./badge.css) layer(atom.badge);
@import url(./textfield.css) layer(molecules.textfield);
@import url(./radio.css) layer(molecules.radio);
@import url(./checkbox.css) layer(molecules.checkbox);
@import url(./select.css) layer(molecules.select);
@import url(./switch.css) layer(molecules.switch);
@import url(./chip.css) layer(molecules.chip);
@import url(./floatingLabel.css) layer(molecules.floatingLabel);
@import url(./date.css) layer(molecules.date);
@import url(./pipe.css) layer(molecules.pipe);
@import url(./breadcrumb.css) layer(molecules.breadcrumb);
@import url(./dialog.css) layer(molecules.dialog);
@import url(./tab.css) layer(molecules.tab);
@import url(./navigation.css) layer(molecules.navigation);
@import url(./scroll.css) layer(molecules.scroll);
@import url(./textlist.css) layer(molecules.textlist);
@import url(./icontext.css) layer(molecules.icontext);

/* 유기체 */
@import url(./table.css) layer(organisms.table);
@import url(./carousel.css) layer(organisms.carousel);
@import url(./header.css) layer(organisms.header);
@import url(./footer.css) layer(organisms.footer);
@import url(./card.css) layer(organisms.card);
@import url(./hero.css) layer(organisms.hero);
@import url(./postmeta.css) layer(organisms.postmeta);
@import url(./contentlist.css) layer(organisms.contentlist);

/* 템플릿 */
/* 페이지 */
