.text-field {
  --paddingX: 1rem;
  --width: auto;
  --height: 4rem;
  --borderColor: var(--gray500);
  --rounded: 0.4rem;
  --fontSize: 1.4rem;
  --color: var(--gray700);
  --placeholderColor: var(--gray500);
  --hoverBorderColor: var(--gray800);
  --focusBorderColor: var(--gray800);
  --readonlyBorderColor: var(--gray500);
  --readonlyBgColor: var(--gray100);
  --disabledBorderColor: var(--gray500);
  --disabledBgColor: var(--gray100);

  padding-inline: var(--paddingX);
  padding-block: var(--paddingY, 0);
  min-width: var(--width);
  height: var(--height);
  border: 1px solid var(--borderColor);
  border-radius: var(--rounded);
  box-sizing: border-box;
  color: var(--color);
  font-size: var(--fontSize);
  &::placeholder {
    color: var(--placeholderColor);
  }
  &:hover {
    border-color: var(--hoverBorderColor);
  }
  &:focus {
    border-color: var(--focusBorderColor);
    outline: none;
  }
  &:disabled {
    border-color: var(--disabledBorderColor);
    background-color: var(--disabledBgColor);
  }
  &:read-only {
    border-color: var(--readonlyBorderColor);
    background-color: var(--readonlyBgColor);
  }
  &:invalid,
  &.error {
    border: 1px solid var(--danger);
    color: var(--danger);
  }
}
textarea {
  &.text-field {
    --width: 100%;
    --height: 10rem;
    --paddingY: 1rem;
  }
}
