[class*='text-list'] {
  display: grid;
  gap: var(--gapY);
  > li {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--gapX);
    color: var(--color);
    &::before {
      content: var(--dot, '');
      align-self: start;
      width: var(--dotSize);
      aspect-ratio: 1;
      border-radius: var(--dotRadius);
      background-color: var(--dotBgColor, transparent);
      color: var(--dotColor, transparent);
      translate: 0 var(--dotYOffset);
    }
  }
}
.text-list-type1 {
  --gapY: 0.4rem;
  --gapX: 1.2rem;
  --color: var(--gray900);
  --dot: '';
  --dotSize: 0.6rem;
  --dotRadius: calc(infinity * 1rem);
  --dotBgColor: var(--primary);
  --dotYOffset: 0.6rem;
}
.text-list-type2 {
  --gapY: 0.4rem;
  --gapX: 1.2rem;
  --color: var(--gray900);
  --dot: '*';
  --dotSize: auto;
  --dotRadius: 0;
  --dotColor: var(--primary);
  --dotYOffset: 0.2rem;
}
.text-list-type3 {
  --gapY: 0.4rem;
  --gapX: 1.2rem;
  --color: var(--gray900);
  --dot: '-';
  --dotSize: auto;
  --dotRadius: 0;
  --dotColor: var(--primary);
  --dotYOffset: -0.2rem;
}
.text-list-type4 {
  --gapY: 0.4rem;
  --gapX: 1.2rem;
  --color: var(--gray900);
  --dot: '';
  --dotSize: 0.6rem;
  --dotRadius: 0;
  --dotBgColor: var(--primary);
  --dotYOffset: 0.8rem;
}

.reference {
  --gap: 1.6rem;
  display: grid;
  gap: var(--gap);
  margin-top: 6rem;
  @media (width < 1024px) {
    --gap: 1.2rem;
  }
  @media (width < 768px) {
    --gap: 0.8rem;
    margin-top: 3.6rem;
  }
  li {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--gap);
    color: var(--gray600);
    font-size: 1.6rem;
    line-height: 160%;
    letter-spacing: -0.064rem;
    @media (width < 1024px) {
      gap: 1.2rem;
      font-size: 1.4rem;
    }
    @media (width < 768px) {
      gap: 0.8rem;
      font-size: 1.2rem;
    }
    span:first-child {
      color: var(--gray900);
    }
  }
}

.wise-saying {
  border-top: 0.1rem solid var(--gray900);
  li {
    padding-block: 4.8rem;
    border-bottom: 0.1rem solid var(--black10);
    color: var(--Color-txt_dark, #222);
    font-family: var(--notoserif);
    font-size: 2rem;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: -0.08rem;
    @media (width < 1024px) {
      padding-block: 3.6rem;
      font-size: 1.6rem;
      letter-spacing: -0.064rem;
    }
    @media (width < 768px) {
      padding-block: 2.4rem;
    }
  }
}
