/* -------------------------------------------------------------------------- */
/*                                    전역CSS                                 */
/* -------------------------------------------------------------------------- */
:root {
  --white: #ffffff;
  --black: #000;

  --gray100: #f5f5f5;
  --gray400: #999999;
  --gray600: #666666;
  --gray900: #222222;

  --black10: rgba(0, 0, 0, 0.1);
  --black20: rgba(0, 0, 0, 0.2);
  --black30: rgba(0, 0, 0, 0.3);
  --black40: rgba(0, 0, 0, 0.4);
  --black50: rgba(0, 0, 0, 0.5);
  --black60: rgba(0, 0, 0, 0.6);
  --black70: rgba(0, 0, 0, 0.7);
  --black80: rgba(0, 0, 0, 0.8);
  --black90: rgba(0, 0, 0, 0.9);

  --blue400: #378bf8;

  --white10: rgba(255, 255, 255, 0.1);
  --white20: rgba(255, 255, 255, 0.2);
  --white30: rgba(255, 255, 255, 0.3);
  --white40: rgba(255, 255, 255, 0.4);
  --white50: rgba(255, 255, 255, 0.5);
  --white60: rgba(255, 255, 255, 0.6);
  --white70: rgba(255, 255, 255, 0.7);
  --white80: rgba(255, 255, 255, 0.8);
  --white90: rgba(255, 255, 255, 0.9);

  --primary: var(--blue400);
  --secondary: var(--gray600);
  --danger: var(--red600);
  --success: var(--green600);

  --containerWidth: 120rem;
}
@media (width < 1024px) {
  :root {
    --containerWidth: 100%;
  }
}
